@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  background-color: #eff3f4;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  width: 940px;
}

.block {
  background-color: #3274ae;
  float: left;
  margin-left: 20px;
  padding: 20px;
}

.block:first-child {
  margin-left: 0;
}

.block__text {
  background-color: #eaf4ff;
  border: 10px solid #022336;
  box-sizing: border-box;
  font-size: 16px;
  padding: 20px;
  text-align: 16px;
  width: 230px;
}
/* 回答はここに書いてね */
